.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #222222;
  border: 1px solid #606060;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 320px;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 15px;
  background: #606060;
  border: none;
  border-radius: 50px;
  color: #fff;
  resize: vertical;
  height: 50px;
}

.modal button {
  background-color: #9aeba3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  color: #141414;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.modal button:hover {
  background-color: #2f4732;
  color: #fff;
}

.error,
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}
